/*Общие метки*/

html {
    padding: 0px;
    margin: 0px;
}

body  {
    background-color: #ffffff;
    margin: 0px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}


/*Сброс стилей у кнопки.*/
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

/*Шапка*/

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 114px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Prosto One', cursive;
}

header nav a {
    display: inline-block;
    margin-right: 86px;
    font-family: 'Prosto One', cursive;
    transition-duration: 300ms;
}


header nav a:hover {
    color: white;
    background-color: black;
    padding: 15px 30px;
    border-radius: 20px;
}

header nav a:last-child {
    margin-right: 0px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

/*Основной контент*/

/*Приветствие*/
.feature-1 {
    background-image: url(img/metallurg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 667px;
    width: 100%;
}

.feature-1 h1 span {
    font-size: 102.41px;
    font-family: 'Stalinist One', cursive;
}

.feature-1 h1 {
    line-height: normal;
    display: block;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 175px;
}

.feature-1 .button {
    width: 135px;
    height: 45px;
    background-color: #000000;
    margin-top: 71px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    border-radius: 7px;
    cursor: pointer;
}

.feature-1 .button a {
    color: white;
    padding-top: 5px;
    display: block;
}

.feature-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

/*Плюсы*/
.feature-2 {
    background-color: white;
    width: 100%;
    height: 318px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature-2 div {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-2 div:nth-child(1) {
    width: 163px;
}

.feature-2 div:nth-child(2) {
    width: 123px;
}

.feature-2 div:nth-child(3) {
    width: 140px;
}

.feature-2 div p {
    margin-top: 43px;
    text-align: center;
}

.feature-3 {
    color: #fff;
    background-color: black;
    height: 305px;
}

.feature-3 .blockquote {
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    font-weight: 900;
    margin-top: 78px;
    margin-left: 161px;
    display: inline-block;
}

.feature-3 p {
    font-size: 36px;
    font-style: normal;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    margin-left: 161px;
    margin-top: 47px;
}

.feature3-div {
    float: right;
    margin-right: 162px;
    margin-top: -50px;
}

.feature-3 .cite {
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    top: 74px;
}

.feature-3 .cite a {
    text-decoration: underline;
    color: #fff;
}

/*.feature-3 img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}*/




.feature-4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    height: 725px;
    text-align: center;
    color: black;
    background-image: url(img/fon-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-4 h2 {
    display: inline-block;
    font-size: 36px;
    margin-right: auto;
    margin-top: 60px;
    color: black;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.feature-4 table {
    border-collapse: collapse;
    border: 4px solid #000;
    text-align: center;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.feature-4 th,td {
    border: 2px solid #000;
    width: 388px;
    height: 58px;
}

.feature-4 th {
    font-weight: normal;
    color: black;
}

.feature-4 th:nth-child(1), td:nth-child(1) {
    font-weight: bold;
}



.feature-5 .flex {
    display: flex;
    width: 510px;
    justify-content: space-between;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.feature-5 h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.feature-5  {
    background: black;
    height: 675px;
}


.feature-5 iframe {
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 10px;
    width: 80%;
    height: 400px;
}

/*Подвал*/

footer {
    height: 100px;
    width: 100%;
}

footer .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

footer a:nth-of-type(2) div {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: underline;
}

footer .prava p {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

/*медиа запросы*/

@media screen and (max-width: 1083px) {
   html {
    width: 1180px;
   }
}