/*Общие метки*/

* {
	box-sizing: border-box;
}

html {
	padding: 0px;
	margin: 0px;
}

body  {
	background-color: rgb(255, 255, 255);
	margin: 0px;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
}

/*Сброс стилей у кнопки.*/
button {
    margin: 0px;
    padding: 0px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

/*Шапка*/

header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 114px;
	width: 100%;
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	font-size: 20px;
	font-family: 'Prosto One', cursive;
}

header nav a {
	display: inline-block;
	margin-right: 86px;
	font-family: 'Prosto One', cursive;
	transition-duration: 300ms;
}


header nav a:hover {
	color: white;
	background-color: black;
	padding: 15px 30px;
	border-radius: 20px;
}

header nav a:last-child {
	margin-right: 0px;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.active {
	color: white;
	background-color: black;
	padding: 15px 30px;
	border-radius: 20px;
}

/*Основной контент*/

.title {
    font-size: 40px;
		font-weight: 700;
    background-color: #000000;
    width: 100%;
    text-align: center;
		padding: 30px 0;
		color: #FFFFFF;
}

.item {
	margin: 64px 110px;
	min-width: 1000px;
	height: 350px;
	position: relative;
	margin-bottom: 90px;
}

.item-title {
	font-weight: 500;
	font-size: 36px;
}

.item .container {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
}

.item-description {
	max-width: 515px;
	margin-top: 50px;
	font-weight: 400;
	height: 70%;
}

.item_price {
	font-size: 217px;
	color: #17BE32;
	transform: translateY(-50px);
}

.item-button {
	width: 277px;
	height: 65px;
	border-radius: 10px;
	background-color: rgb(0, 0, 0);
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-130px);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	padding-top: 18px;
	transition: all 400ms ease-in-out;
	cursor: pointer;
}

.item-button__adaptive {
	left: 20%;
	bottom: 90px;
}

.item-button:hover {
	padding-top: 18px;
	background-color: #FFFFFF;
	color: #000000;
}

.reverse-flex {
	flex-direction: row-reverse;
}

.item-slider__reverse {
	margin-left: 0;
	margin-right: 10%;
}

.item-title__reverse {
	float: right;
}

.item-description__reverse {
	text-align: right;
}

.item:nth-of-type(2) .item-slider-img {
	background-image: url("img/background_ski_1.jpg");
}

/*Подвал*/

footer {
	height: 100px;
	width: 100%;
}

footer .flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
}

footer a:nth-of-type(2) div {
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-decoration: underline;
}

footer .prava p {
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

/*медиа запросы*/

@media screen and (max-width: 1238px) {
	html {
	 width: 1238px;
	}
}